ENV=dev
PROTOCOL=http
DOMAIN=localhost
APP_NAME=wEPS
TIMEZONE=America/Bogota
DB_HOST=db
DB_NAME=sespesoft
DB_USER=postgres
DB_PASSWORD=postgres
PRIV_KEY=/rsa/priv/key.pem
PUB_KEY=/rsa/pub/key.pem
MAIL_HOST=smtp.ionos.com
MAIL_PORT=465
MAIL_USER=admin@sepesoft.com
MAIL_PASSWORD=
AWS_BUCKET=bucket-dev
AWS_REGION=us-east-2
AWS_SECRET=passw0rd-s3-minio
AWS_KEY=user-s3-minio
RECAPTCHA_PUB=
RECAPTCHA_PRIV=
BI_HOST=http://jasper/jasperserver/rest_v2/
BI_DB_NAME=jasperreports
BI_DB_USER=postgres
BI_DB_PASSWORD=postgres
BI_USER=jasperadmin
BI_PASSWORD=Qazwsx*
BI_FOLDER=Reportes/prod
MQ_USER= sespesoft
MQ_PASSWORD=Qazwsx*
MQ_HOST=rabbitmq
MQ_PORT=5672
UID=0
GID=0
AUDIT_IMAGE=
AUTH_IMAGE=
CONF_IMAGE=
HIRING_IMAGE=
PGAUDIT_IMAGE=
PQRS_IMAGE=
WEBAPP_IMAGE=
